{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ .Content }}

  <h2>Recent posts</h2>
  {{ $orderedPages := slice }}

  {{ range sort .Site.Menus.main "Weight" }}
    {{ if and .Page (not .Page.IsHome) }}
      {{ $orderedPages = $orderedPages | append .Page }}
    {{ end }}
  {{ end }}

  {{ range $orderedPages }}
    <h3>{{ .LinkTitle }}</h3>

    {{ range first 3 .RegularPages }}
      <ul>
        <li>
          <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
        </li>
      </ul>
    {{ else }}
      <p>Nothing found yet!</p>
    {{ end }}

    <a href="{{ .RelPermalink }}"><small>View all<i class="bi bi-arrow-right"></i></small></a>
  {{ end }}

{{ end }}
